:root {
    --thememain:rgb(92, 86, 130);
}
#weatherdisplay {
    background-color: rgba(75, 79, 77, 0.801);
}
#searchbar {
    background-color: var(--thememain);
}
* {
    font-family: 'Fira Sans'
}
h1 {
    font-size: 40pt;
}
body {
    background-color: rgba(128, 128, 128, 0.626);
}
.header {
    background-color: var(--thememain);
    color: rgb(211, 218, 212)
}
#searchButton {
background-color: rgba(225, 172, 28, 0.82);
}
