#weatherdisplay {
    background-color: rgba(123, 140, 134, 0.554);
}
#searchbar {
    background-color: rgb(162, 175, 184);
}
* {
    font-family: 'Fira Sans'
}
h1 {
    font-size: 40pt;
}
body {
    background-color: rgba(233, 236, 237, 0.626);
}