:root {
    --thememain:rgb(92, 86, 130);
}
#weatherdisplay {
    background-color: rgba(41, 44, 43, 0.801);
}
#searchbar {
    background-color: var(--thememain)
}
* {
    font-family: 'Fira Sans'
}
h1 {
    font-size: 40pt;
}
body {
    background-color: rgba(182, 187, 189, 0.626);
}
.header {
    background-color: var(--thememain);
    color: rgb(211, 218, 212)
}